* {
    margin: 0;
    transition: all 150ms ease-in-out;
    font-family: 'Montserrat', sans-serif;
}
.dark {
    background: #000;
}

.light {
    background: #fff;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 0;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

header a, nav a, .btn {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
    background: transparent;
    border: none;
    padding: 5px 10px;
}

.btn:hover {
    background-color: black;
    color: white;
}

.dark *:not(nav){
    color: white;
    background: black;
}

.dark .btn, .dark .title {
    background: transparent;
}

.dark header {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);

}

.dark .btn:hover {
    color: black;
    background: white;
}